Django==1.10.*
oauth2client==4.0.*
oauthlib == 1.0
django-compressor==1.5
# django-fields
unittest2
django-oauth-toolkit
pytz
python-dateutil
google-api-python-client
AuthZ-Group
Django-SupportTools
testfixtures
django-userservice
django-dirtyfields
chardet
jsonpickle
