Django==1.6
oauth2client
django-compressor==1.5
# django-fields
unittest2
django-oauth-toolkit
pytz
python-dateutil
google-api-python-client
AuthZ-Group
-e git+https://github.com/uw-it-aca/django-supporttools.git@develop#egg=SupportTools
testfixtures
django-userservice
