{% extends wrapper_template %}
{% block content %}

<div class="container">

    
    <div class="user-service">
    
        <h2 class="user-service-heading">Hello, {{ original_user }}.</h2>
        
        <div style="margin: 0 auto;">
        <h4 class="user-service-sub-heading">You are overriding as:</h4>
        <h3 class="text-danger">{{ override_user }} </h1>
        
        <form action="{% url 'sqlshare_rest.views.admin.user_override' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="clear_override" value="1"/>
        <button class="btn btn-lg btn-block btn-danger" type="submit" value="Clear override">Clear Override</button>
        </form>
        
        </div>
        
        <form action="{% url 'sqlshare_rest.views.admin.user_override' %}" method="POST">
        {% csrf_token %}
        
        <h4 class="user-service-sub-heading">Override as:</h4> 
        <input type="text" name="override_as" class="form-control" placeholder="Netid"> <br/>
        
        <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
        {% if override_error_msg %}
        <div><p style="color:#FF0000; font-weight:bold">{{ override_error_msg }}{{ override_error_username }}</p></div>
        {% endif %}
        </form>
    
    </div>

</div>

{% endblock %}


